body {
    background-color: rgb(255, 255, 255);
    margin: 2%;
    margin-top: 0%;
    margin-bottom: 1%;
}

a {
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

.navbar {
    display: none;
}



.nevi2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2.5%;
    margin-top: 2px;
}


@media (max-width: 768px) { 
    .nevi2 {
      flex-direction: column; 
      align-items: flex-start;
      margin-top: 50px;
      gap: 30%;
    }
  }

.menu-icon {
    display: block;
    text-align: right;
    cursor: pointer;
    position: fixed;
    color: white;
    padding: 10px; 
    border-radius: 100%;
    top: 2%;
    right: 3%;
    cursor: pointer;
    z-index: 9999; 

}
.menu-icon:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px); 
    opacity: 1;
    transition: opacity .3s ease-in-out;
    border-radius: 100%;
    animation: glowing 20s linear infinite;
}

.menu-icon:active {
    color: #000;
}

.menu-icon:active:after {
    background: transparent;
}

.menu-icon:hover:before {
    opacity: 1;
    animation: glowing-reverse 10s linear infinite; 
    content: 'ok';
}

@keyframes glowing-reverse {
    0% { background-position: 0 0; }
    50% { background-position: -400% 0; }
    100% { background-position: 0 0; }
}


.menu-icon:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius:100%;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}



.active {
    display: block;
}



.header {
    width: 100%;
    background-image: url('img/Washim Akram Banner.png');
    box-shadow: 1px 1px 20px 1px rgb(255, 255, 255);
    text-align: center;
    background-size: auto;
    background-position: center;
}

.img1 img {
    width: 100%;
    height: auto;
    box-shadow: 1px 1px 20px 1px rgb(255, 255, 255);
    text-align: center;
    background-size: cover;
    background-position: center;
}

.img1 img:hover {
    background-color: radial-gradient(white, skyblue, gray);
}

.navbar {
    background-color: rgb(2, 74, 92);
    overflow: visible;
    width: 100%;
    padding-bottom: 1%;
    padding-top: 1.5%;
   box-shadow: 0 8px 30px -10px white;
}

.nevi1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2vw;
    gap: 4%;
    padding-bottom: 20px;
}

.nevi2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0.5%;
    margin-top: 2px;
    background-color: white;
    box-shadow: inset 30px 0 15px -10px rgb(1, 94, 89), 
                inset -30px 0 25px -10px rgb(1, 94, 89);
}

.item1 {
    color: rgb(226, 173, 0);
    font-size: 1.5vw;
    font-family: 'Times New Roman', Times, serif;
    height: 100%;
    padding-top: 6px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    letter-spacing: 1px;
    border-radius: 26px;
    padding-left: 15px;
    padding-right: 15px;
    letter-spacing: 2px;
    box-shadow: 
        -0.2em 0 0.5em -0.4em rgba(255, 255, 0, 0.8), 
        0.2em 0 0.5em -0.4em rgba(255, 255, 0, 0.8), 
        0 -0.2em 0.5em -0.4em rgba(255, 255, 0, 0.8), 
        0 0.2em 0.5em -0.4em rgba(255, 255, 0, 0.8);
    transition: box-shadow 0.25s, transform 0.25s; 
}


.item1.downloadCV {
    position: relative;
    display: inline-block;
  }
  
  
  /* Container for dropdown content */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    border-radius: 26px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Styling for dropdown links */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Hover effect for dropdown links */
  .dropdown-content a:hover {
    background-color: #ddd;
    border-radius: 26px;
  }
  
  /* Show dropdown on hover */
  .dropdown:hover .dropdown-content {
    display: block;
    border-radius: 26px;
  }
  



.item1:hover,
.item1:focus {
    box-shadow: 0 0.5em 0.9em -0.4em rgba(241, 241, 240, 0.8), 
                0 0 0.5em -0.4em rgba(199, 255, 114, 0.8), 
                -0.5em 0 0.5em -0.4em rgba(241, 241, 240, 0.8), 
                0.5em 0 0.5em -0.4em rgba(244, 245, 243, 0.8); 
    transform: translateY(-0.25em); 
}

.item1 a:hover{
    color: white;
}


.item1 a{
    text-decoration: none;
    color: #f77518;
}

.item2 a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}


.item2 {
    color: white;
    font-size: 1.5vw;
    height: 100%;
    padding: 0.3% 0.5%;
    letter-spacing: 1px;
    border-left: 2px solid rgba(0, 0, 0, 0.5); /* Dark black border on the left */
    border-right: 2px solid rgba(0, 0, 0, 0.5); /* Dark black border on the right */
    transition: box-shadow 0.25s, transform 0.25s;
}





/* Styles for phone and tablet view */
@media screen and (max-width: 768px) {
    .img1 img {
        height: auto; /* Adjust height to auto for responsiveness */
    }

    .nevi1 {
        height: auto; /* Adjust height to auto for responsiveness */
        gap: 2%; /* Reduce the gap between items */
        padding-bottom: 2px; /* Adjust padding for better spacing */
    }


    .item1,
    .item2 {
        font-size: 12px; /* Adjust font size for better readability on smaller screens */
    }

    .menu-icon{
        padding: 8px; /* Adjust padding as needed */
        border-radius: 100%;
        top: 1.5%;
        right: 3%;
    }

}


.content {
    width: 100%;
    margin-top: 0px;
    padding-top: 2px;
}

.left_panel {
    margin-top: 1%;
    height: auto;
}


.right_panel {
    margin-top: 1%;
}

.footer {
    background-color: rgb(2, 74, 92);
    background-size:auto;
    margin-top: 20px;
    background-position: center;
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: row;
    gap: 0px;
}

.footer-title{
    background-color: rgb(255, 255, 255);
    padding-top: 5%;
    padding-bottom: 5%;
    letter-spacing: 2px;
    color: black;
    font-size: 1.1vw;
    font-family: Arial, Helvetica, sans-serif;
    
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
}



.footer-content1{
    padding-left: 15%;
    padding-top: 15%;
}

.social-info a:hover{
    background-color: #333; /* Change background color on hover */
    color: #ffee10;
  box-shadow: 0 0 5px #ffee10;
  text-shadow: 0 0 5px #ffee10;
  border: 4px;
}

.website-item a:hover{
    background-color: #333; /* Change background color on hover */
    color: #ffee10;
  box-shadow: 0 0 5px #ffee10;
  text-shadow: 0 0 5px #ffee10;
  border: 4px;
}

.footer-content2{
    padding-top: 15px;
}

.footer-content3{
    padding-top: 15%;
}


.lp-item1 {
    width: 100%;
    height: auto;
    text-align: center;
    letter-spacing: 0.5px;
    font-size: 1.4vw;
}

.lp-item1:hover{
    box-shadow: 0px 0px 20px rgb(0, 90, 5);
}

.rt-item1 {
    width: 100%;
    height:auto;
    font-size: 1.4vw;
}

.rt-item1:hover{
    box-shadow: 0px 0px 20px rgb(0, 90, 5);
}

.contact{
    margin-left: 2px;
}

.footer-hov:hover{
    box-shadow: 0px 0px 20px rgb(224, 255, 225);
}
.contact-icon{
    letter-spacing: 2px;
    margin-top: 5%;
}
.contact-info{
    margin-top: 2%;
}
.ft-item2 {
    margin-top: 5px;
    width: 100%;
    text-align: center;
    font-size: 1.4vw;
    box-shadow: 0px 0px 5px 0px black;
    padding-right: 2px;
}

.ft-item11 {
    margin: 0.5%;
    width: 100%;
    text-align: center;
    font-size: 1.4vw;
    box-shadow: inset 5px 5px 20px rgba(14, 0, 0, 0.205);
    background-color: rgb(2, 74, 92);
    padding-right: 2px;
}

.social-title{
    letter-spacing: 2px;
    margin-top: 5%;
    margin-left: 12%;
}
.social-info{
    margin-top: 2%;
}

.ft-item3 {
    margin-top: 5px;
    width: 100%;
    text-align: center;
    font-size: 1.4vw;
    box-shadow: 0px 0px 5px 0px black;
    padding-right: 2px;
}

.site-title{
    letter-spacing: 2px;
    margin-top: 5%;
}
.site-info{
    margin-top: 2%;
}

.fa-solid{
    font-size: 1.3vw;
}
.obj-txt{
    font-size: 1.4vw;
    text-align: justify;
    padding: 3%;
    padding-left: 30%;
    padding-right: 30%;
}
#subscribe-field{
    width: 85%;
    height: 10%;
    font-size: 1.3vw;
}
#subscribe-button{
    background-color: rgb(30, 6, 69);
    width: 90%;
    height: 10%;
    font-size: 1.5vw;
    margin-top: 5%;
    color: white;
}
#subscribe-button:hover{
    background-color: rgb(0, 0, 0);
    font-size: 1.56vw;
}
#about-me{
    width: 100%;
    height: auto;
    padding-bottom: 5px;
    box-shadow: -10px 0px 20px rgb(247, 246, 246);
    background: linear-gradient(to right,rgb(145, 252, 252)) ;
}

#about-me:hover{
    box-shadow: 0px 0px 10px rgba(250, 2, 2, 0.5);
}
@keyframes rightwardShadow {
    0% {
        box-shadow: -10px 0px 20px rgb(255, 0, 0); 
    }
    100% {
        box-shadow: 10px 0px 20px rgb(21, 255, 0); 
    }
}

.about-me-image {
    width: 25%; /* Ensure the container has a defined width */
    display: block; /* Block display */
    float: left; /* Float the container left */
    margin-left: 5%; /* Margin for spacing */
    margin-top: 3.5%; /* Margin for spacing */
    border-radius: 40%; /* Rounded corners for the container */
    box-shadow: 10px 5px rgb(5, 0, 0); /* Shadow for the container */
    overflow: hidden; /* Hide overflow to ensure smooth zoom */
    background-color: #a8b0d69e;
}

.about-me-image img {
    width: 100%; /* Make the image fill the container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 40%; /* Rounded corners for the image */
    transition: transform 0.3s ease; /* Smooth transition for zoom effect */
}

.about-me-image img:hover {
    transform: scale(1.15); /* Scale the image slightly on hover */
}


.about-me-details {
    font-size: 1.265vw; 
    margin-left: 5%;
    margin-right: 2%;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    text-align: justify;
    align-items: center;
    align-content: center;

     /* Glass effect styles */
     backdrop-filter: blur(1px); /* Blurring and brightening behind the element */

     /* Text background */
    background-clip: text;
    -webkit-background-clip: text;
    
}


@media screen and (max-width: 768px) {

    .about-me-image img{
        width: 100%;
        display: block;
        float: top;
    }
    .about-me-details {
        font-size: 14px; 
    }
    .obj-txt{
        font-size: 14px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .skill-item{
        font-size: 14px;
        gap: 5%;
        margin-left: 1%;
    }

    .social-info{
        margin-top: -6%;
        margin-left: 2%;
        text-align: left;
        font-size: 8px;
        gap: 2px;
    }

    .footer{
        gap: 3px;
    }

    .item1{
        font-size: 2.5vw;
        padding-top: 2px;
    }

    .menu-icon{
        position: absolute;
    }

}

.letter-spacing{
    letter-spacing: 1px;
}


.social-item {
    display: flex;
    flex-direction: column;
}

.social-item a {
    text-decoration: none;
    color: #0120aa; 
    transition: background-color 0.3s, color 0.3s; 
    letter-spacing: 0px;
    padding: 2%;
    color: white;
}

.social-item a:hover {
    background-color: #333; 
    color: #ffee10;
  box-shadow: 0 0 5px #ffee10;
  text-shadow: 0 0 5px #ffee10;
  border: 4px;
}

.social-item i {
    margin-right: 5px; 
}

.username {
    margin-left: 10px; 
}

.website-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4%;
    gap: 8px;
}

.website-item a{
    padding: 10px;
}

.my-skill ul {
    

    li{
        padding: 5px;
        border-top: .5px solid rgba(0, 0, 0, 0.144);
    }
}